body
{
    overflow-x:hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.image-container {
    width: 50%;
}

.vertical-image {
    max-width: 100%;
    box-shadow: #333;
    height: 75%;
    display: block;
    margin: 0 auto;
}

.text-container {
    width: 45%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* spacing between buttons */
}

button {
    flex-basis: calc(50% - 5px); /* 50% width for 2 columns with a gap */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.card {
    height: 400px; /* Set a fixed height for the card */
    margin-bottom: 20px;
    object-fit: cover;
}

.card img {
    height: 150px; /* Set a fixed height for the card image */
    object-fit: cover; /* Ensure the image covers the entire space */
}

.card-body {

    padding: 10px; /* Add padding to the card body */
}

.active-toggle {
    background-color: rgb(4, 170, 4);
    color: white;
}

.active-toggle:hover {
    background-color: rgb(32, 104, 20);
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}